<mat-toolbar color="primary" style="justify-content:center">
	<span>Mon Application</span>
</mat-toolbar>

<mat-selection-list #food>
	<mat-list-option value="pain">Pain</mat-list-option>
	<mat-list-option value="pates">Pâtes</mat-list-option>
	<mat-list-option value="pizza">Pizza</mat-list-option>
</mat-selection-list>

<mat-grid-list cols="2" rowHeight="2:1" gutterSize="10">
	<mat-grid-tile>1</mat-grid-tile>
	<mat-grid-tile>2</mat-grid-tile>
	<mat-grid-tile>3</mat-grid-tile>
	<mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>